html body {
  margin: 0;
  padding: 0;
  background-color: rgb(228, 228, 228);
}

.inputs {
  height: 50px;
  background-color: rgb(66, 66, 66);
}

input {
  height: 30px;
  width: 250px;
  margin: 9px 0 0 28px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: lighter;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  vertical-align: bottom;
}

#searchBtn{
  height: 32px;
  width: 80px;
  margin-left: -4px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  font-weight: 100;
  background-color: rgb(50, 93, 150);
  color: rgb(224, 224, 224);
}

#searchBtn:hover, #clearBtn:hover, #showFavoritesBtn:hover {
  background-color: rgb(37, 75, 125);
  color: #fff;
  border: 2px solid rgb(50, 93, 150);
}

#searchBtn:focus, #clearBtn:focus, #showFavoritesBtn:focus {
  outline: 0;
}

#clearBtn{
  height: 32px;
  width: 130px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 100;
  margin-left: 15px;
  background-color: rgb(50, 93, 150);
  color: rgb(224, 224, 224);
}

#showFavoritesBtn{
  height: 32px;
  width: 130px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 100;
  margin-left: 15px;
  background-color: rgb(50, 93, 150);
  color: rgb(224, 224, 224);
}

::-webkit-input-placeholder {
  color: rgb(190, 190, 190);
}

.header{
  margin: 20px 30px;
  color: rgb(37, 75, 125);
}

.container {
  width: 96%;
  height: auto;
  margin: 0 auto;
}

.favorites {
  display: none;
  width: 96%;
  height: auto;
  margin: 0 auto;

}

h1 {
  margin: 25px 0 10px 0;
  font-size: 36px;
  border-bottom: 2px solid rgb(37, 75, 125);
}

.squares {
  display: inline-block;
  height: auto;
  width: 235px;
  float:left;
  margin: 0 29px 20px 0;
  border: 1px solid black;
  padding: 5px;
  box-shadow: 5px 5px 7px #888888;
  overflow: hidden;
  background-color: #fff;
}

.whoopsies {
  width: 300px;
  height: auto;
  margin: 20px auto;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  box-shadow: 5px 5px 7px #888888;
}

#whoopsImg {
  width: 300px;
  height: 420px;
}

.rmvBtn {
  width: 115px;
  height: 25px;

}

.favBtn {
  width: 115px;
  height: 25px;
  margin-left: 5px;
}

img{
  width: 235px;
  height: 160px;
}
